*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  color: white;
}

.btn-secondary2 {
  padding: 8px 32px;
  height: 40px;
}

.btn-primary2 {
  padding: 12px 30px;
  width: 136px;
  height: 49px;
  line-height: 26px;
  font-size: 18px;
}

body {
  position: relative;
}

body .ball1 {
  position: absolute;
  z-index: 1;
  background-image: url(../images/ball01.svg);
  background-size: contain;
  top: 743px;
  left: -77px;
  width: 126px;
  height: 126px;
}

body .ball2 {
  z-index: 1;
  position: absolute;
  background-image: url(../images/ball02.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 3067px;
  right: 0;
  background-position: left;
  width: 88px;
  height: 135px;
}

body .ball3 {
  position: absolute;
  z-index: 1;
  background-image: url(../images/ball03.svg);
  background-size: cover;
  background-position: right;
  top: 4827px;
  left: 0px;
  width: 77px;
  height: 153px;
}

body .top {
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #56c4c5;
  position: fixed;
  z-index: 100;
  background-position: right;
  right: 16px;
  bottom: 16px;
  padding-top: 18px;
  padding-left: 11px;
}

body header {
  padding-top: 16px;
}

body header .navbar {
  padding-left: 16px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
  margin: 0;
  border-bottom: 2px solid #ffd153;
}

body header .navbar a img {
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

body header .title {
  margin-left: 16px;
  margin-right: 16px;
  background-image: url(../images/bg_home_sm.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-top: 32px;
}

body header .title .text h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

body header .title .text h1 {
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 16px;
}

body header .title .text h5 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

body main {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  margin: 0px 20px;
}

body main .platform {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .platform h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 32px;
}

body main .platform .content .card {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

body main .platform .content .card img {
  width: 60px;
  height: 60px;
}

body main .platform .content .card h5 {
  text-align: center;
  margin-bottom: 16px;
}

body main .platform .content .card p {
  color: #747474;
  text-align: center;
}

body main .character h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
}

body main .character h4 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 32px;
  text-align: center;
}

body main .character .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 48px;
  margin-right: 48px;
}

body main .character .content .card {
  width: 100%;
  margin-bottom: 24px;
  border-radius: 12px;
}

body main .character .content .card img {
  border-radius: 12px 12px 0px 0px;
}

body main .character .content .card .card-body h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

body main .character .content .card .card-body p {
  text-align: center;
}

body main .plan {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

body main .plan .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .plan .text h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
}

body main .plan .text h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  text-align: center;
}

body main .plan .slogan {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .plan .slogan .card {
  width: 65%;
  margin-bottom: 24px;
}

body main .plan .slogan .card .icon {
  margin-top: 32px;
  margin-left: 24px;
  width: 86px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .plan .slogan .card .icon img {
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

body main .plan .slogan .card .card-body {
  margin-top: 8px;
  padding-left: 24px;
  padding-bottom: 48px;
}

body main .plan .slogan .card .card-body h4 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

body main .evaluation {
  margin-top: 36px;
}

body main .evaluation h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
}

body main .evaluation .swiper {
  width: 100%;
  height: 100%;
}

body main .evaluation .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .evaluation .swiper .swiper-slide .card {
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 90%;
  position: relative;
}

body main .evaluation .swiper .swiper-slide .card .user {
  position: absolute;
  left: 32px;
  top: 0px;
  height: 80px;
  width: 80px;
}

body main .evaluation .swiper .swiper-slide .card .card-body {
  background-color: #fff;
  margin-top: 56px;
  padding-top: 48px;
  text-align: left;
}

body main .evaluation .swiper .swiper-slide .card .card-body p {
  font-size: 16px;
  line-height: 24px;
}

body main .evaluation .swiper .swiper-slide .card .card-body h4 {
  font-size: 16px;
  line-height: 24px;
}

body main .evaluation .swiper .swiper-slide .card .card-body .job_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

body main .evaluation .swiper .swiper-slide .card .card-body .job_title p {
  font-size: 16px;
  line-height: 24px;
}

body main .evaluation .swiper .swiper-slide .card .card-body .job_title .star {
  margin-right: 20px;
}

body main .evaluation .swiper .swiper-slide .card .card-body .job_title .star img {
  margin-left: 4px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

body main .evaluation .swiper .swiper-pagination {
  position: static;
}

body main .evaluation .swiper .swiper-pagination .swiper-pagination-bullet {
  border-color: #dddddd;
  height: 10px;
  width: 10px;
}

body main .evaluation .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffd153;
  height: 10px;
  width: 16px;
  border-radius: 50px;
}

body main .evaluation .large {
  display: none;
}

body main .evaluation .small {
  display: block;
}

body footer {
  background-image: url(../images/footer_sm.svg);
  height: 461px;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

body footer .text {
  padding-top: 293px;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .text p {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 24px;
}

body footer .copyright {
  background: #f5f5f5;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

body footer .copyright p {
  color: #221e1f;
  font-size: 16px;
  line-height: 24px;
}

/* 376size */
@media screen and (min-width: 376px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  body .ball1 {
    position: absolute;
    z-index: 1;
    background-image: url(../images/ball01.svg);
    background-size: cover;
    background-position: right;
    top: 589px;
    left: 0px;
    width: 138px;
    height: 360px;
  }
  body .ball2 {
    z-index: 1;
    position: absolute;
    background-image: url(../images/ball02.svg);
    background-size: cover;
    background-position: left;
    top: 1694px;
    right: 0px;
    width: 210px;
    height: 310px;
  }
  body .ball3 {
    position: absolute;
    z-index: 1;
    background-image: url(../images/ball03.svg);
    background-size: contain;
    top: 2640px;
    left: 50px;
    width: 150px;
    height: 150px;
  }
  body .top {
    font-size: 18px;
    line-height: 19px;
    width: 71px;
    height: 71px;
    right: 48px;
    bottom: 23px;
    padding-top: 26px;
    padding-left: 17px;
  }
  body header {
    width: 100%;
    padding-top: 24px;
    background-image: url(../images/bg_home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }
  body header .navbar {
    padding-left: 140px;
    padding-right: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 16px;
    margin: 0;
    border-bottom: none;
  }
  body header .navbar a img {
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body header .title {
    background-image: none;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .title .text h4 {
    margin-top: 158px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }
  body header .title .text h1 {
    font-size: 40px;
    line-height: 70px;
    margin-bottom: 16px;
  }
  body header .title .text h5 {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 32px;
  }
  body header .title img {
    height: 534px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body main {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    margin: 0px 140px;
    max-width: 80%;
  }
  body main .platform {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .platform h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 32px;
  }
  body main .platform .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
    margin-left: 65px;
    margin-right: 65px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .platform .content .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px;
  }
  body main .platform .content .card img {
    width: 60px;
    height: 60px;
  }
  body main .platform .content .card h5 {
    text-align: center;
    margin-bottom: 16px;
  }
  body main .platform .content .card p {
    color: #747474;
    text-align: center;
  }
  body main .character {
    margin-top: 100px;
  }
  body main .character h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
    text-align: center;
  }
  body main .character h4 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 48px;
    text-align: center;
  }
  body main .character .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .character .content .card {
    width: 260px;
    height: 388px;
    margin-bottom: 24px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 12px;
  }
  body main .character .content .card img {
    border-radius: 12px 12px 0px 0px;
  }
  body main .character .content .card .card-body {
    padding-bottom: 24px;
  }
  body main .character .content .card .card-body h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  body main .character .content .card .card-body p {
    text-align: center;
  }
  body main .plan {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main .plan .text {
    width: 40%;
    margin-right: 48px;
    padding-left: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .plan .text h2 {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 16px;
    text-align: left;
  }
  body main .plan .text h4 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
    text-align: left;
  }
  body main .plan .slogan {
    width: 60%;
    margin-left: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .plan .slogan .card {
    max-height: 284px;
    width: 40%;
    margin-right: 47px;
    margin-bottom: 28px;
  }
  body main .plan .slogan .card .icon {
    margin-top: 32px;
    margin-left: 24px;
    width: 86px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .plan .slogan .card .icon img {
    height: 60%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body main .plan .slogan .card .card-body {
    margin-top: 8px;
    padding-left: 24px;
    padding-bottom: 48px;
  }
  body main .plan .slogan .card .card-body h4 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  body main .evaluation {
    margin-top: 100px;
  }
  body main .evaluation h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 48px;
    text-align: center;
  }
  body main .evaluation .swiper {
    width: 100%;
    height: 100%;
  }
  body main .evaluation .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body main .evaluation .swiper .swiper-slide .card {
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
  }
  body main .evaluation .swiper .swiper-slide .card .user {
    position: absolute;
    height: 80px;
    width: 80px;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body {
    height: 250px;
    background-color: #fff;
    margin-top: 56px;
    padding-top: 48px;
    text-align: left;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body p {
    font-size: 16px;
    line-height: 24px;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body h4 {
    font-size: 16px;
    line-height: 24px;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body .job_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body .job_title p {
    font-size: 16px;
    line-height: 24px;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body .job_title .star {
    margin-right: 20px;
  }
  body main .evaluation .swiper .swiper-slide .card .card-body .job_title .star img {
    margin-left: 4px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }
  body main .evaluation .swiper .swiper-pagination {
    position: static;
  }
  body main .evaluation .swiper .swiper-pagination .swiper-pagination-bullet {
    border-color: #dddddd;
    height: 10px;
    width: 10px;
  }
  body main .evaluation .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffd153;
    height: 10px;
    width: 16px;
    border-radius: 50px;
  }
  body main .evaluation .large {
    display: block;
  }
  body main .evaluation .small {
    display: none;
  }
  body footer {
    width: 100%;
    background-image: url(../images/home_footer.svg);
    height: 461px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  body footer .text {
    padding-top: 293px;
    margin-left: 20px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer .text p {
    font-size: 32px;
    line-height: 46px;
  }
  body footer .copyright {
    background: #f5f5f5;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  body footer .copyright p {
    color: #221e1f;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=index.css.map */